html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

p {
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  line-height: 30px;
}

section {
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 200px;
}
.parallax {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}
#home {
  background-image: url(../images/laptop.png);
  display: flex;
  justify-content: center;
}
.homeContainer {
  margin-left: 100px;
  margin-right: 200px;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 200px;
  padding-bottom: 50px;
  line-height: 40px; /* within paragraph */
  letter-spacing: 3px;
  color: rgb(136, 146, 176);
}
.homeContainer__boldText {
  font-size: 50px;
  color: rgb(100, 255, 218);
}
.sectionTitle {
  color: rgb(100, 255, 218);
  font-size: 30px;
}

.AboutMe {
  background-color: rgb(10, 25, 47);
  color: rgb(136, 146, 176);
  display: flex;
  justify-content: center;
}
.AboutMe__Text {
  text-align: justify;
  font-size: 20px;
  max-width: 40%;
  padding-right: 50px;
}
.AboutMe__Skills {
  max-width: 60%;
  padding-top: 80px;
  padding-left: 50px;
}
.AboutMe__Skills p {
  font-size: 20px;
}
.AboutMe__Skills__List {
  column-count: 2;
  column-fill: balance;
}
.AboutMe__Skills ul {
  margin-top: 0px;
  font-size: 20px;
  padding-inline-start: 10px;
}
.AboutMe__Skills ul li {
  list-style: none;
}
.AboutMe__Skills ul li:before {
  content: "▷";
  padding-right: 10px;
  color: rgb(100, 255, 218);
  font-size: 20px;
}

.certifications {
  background-image: url(../images/formulas.png);
  color: rgb(136, 146, 176);
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.certifications__Title,
.certifications__Text {
  margin-left: 200px;
}

.certifications img {
  height: 200px;
}
.certifications__badges {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects {
  background-color: rgb(10, 25, 47);
  color: rgb(136, 146, 176);
  justify-content: center;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 100px;
  margin-right: 100px;
}
.projects__card {
  border-radius: 40px;
  overflow: hidden;
  cursor: pointer;
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.projects__card__img {
  width: 400px;
  height: 400px;
}

.projects__card--detail {
  position: absolute;
  padding-top: 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.projects__card--detail a {
  opacity: 0;
  transition: transform 1s linear;
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.projects__card--detail img {
  height: 40px;
}
.projects__card--detail:hover p {
  opacity: 1;
}
.projects__card--detail:hover a {
  opacity: 1;
  transform: translateY(-40px);
  transition-delay: 1s;
  transition: 1500ms all;
  transform-origin: center left;
}

.projects__card--detail:hover {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.projects__card--title {
  color: rgb(100, 255, 218);
  font-size: 25px;
  text-align: center;
  margin-bottom: 0px;

  background: black;
  border-radius: 20px;
  padding-top: 16px;
}
.projects__card--description {
  font-size: 18px;
  opacity: 0;
  text-align: justify;
}

.contact {
  background-image: url(../images/office.png);
  padding-bottom: 50px;
}
.contact__text {
  margin-left: 200px;
  font-size: 25px;
  color: rgb(136, 146, 176);
  line-height: 50px;
}

.copyright {
  width: 100%;
  display: flex;
  font-weight: bolder;
  justify-content: center;
  margin-top: 100px;
  bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
